body    {
	        font-family: Tahoma, Geneva, sans-serif;
	        font-size: 14pt;
	        font-style: normal;
	        font-weight: normal;
	        background-color: #9FF;
	        color: #003;
        }
        
table   {
	        background-color: #9FF;
	        text-align: center;
	        border: medium solid #000;
	        width: 700px;
        }
        
    .maincontent    {
	                    width: 800px;
                    }
.maincontent table  {
	                    text-align: center;
	                    margin-left: 100px;
                    }

.maincontent h1     {
	                    text-align: center;
	                    margin-left: 10px;
                    }

.maincontent h2     {
	                    font-size: 18px;
	                    font-weight: bold;
	                    color: #003;
	                    text-align: center;
	                    margin-left: 100px;
                    }

td      {
	        text-align: center;
	        position: relative;
	        height: auto;
	        width: auto;
	        left: auto;
	        top: auto;
	        right: auto;
	        bottom: auto;
	        border: medium solid #000;
	        padding: 10px;
        }
    
th      {
	        border: medium solid #000;
	        padding: 10px;
        }
        
.error {
	        font-weight: bold;
	        color: #F00;
	        text-align: center;
        }
